

.main-header {
    position:relative;
    top:0;
    left:0;
    padding:1vw 0;
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:nowrap;

}

.hamburger {
    position:relative;
    width:4vw;
    height:4vw;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    transition: all 500ms ease-in;
}

.hamburger:hover {
    transform:rotate(360deg);
}

.hamb1,
.hamb2 {
    width:100%;
    height:1vw;
    position:relative;
    transition: all 500ms ease-in;
}

.hamb1 {
    border: 0.1vw inset purple;
    background-color:#26e6ff;
    filter:drop-shadow(0.1rem 0.1rem 0.1rem#1e83ff);
}

.hamb1:hover {
    border: 0.1vw inset #26e6ff;
    background-color:purple;
    filter:drop-shadow(0.05rem 0.05rem 0.12rem#4400ff);
}

.hamb2 {
    border: 0.1vw inset #6e32f0;
    background-color:#ff7a33;
    filter:drop-shadow(0.1rem 0.1rem 0.1rem#1dff52);
}
#hamB2 {
    display:none;
}
#hamB1 {
    display:flex;
}

#hamB1, #hamB2 {
    width:100%;
    height:100%;
    flex-direction:column;
    justify-content:space-evenly;
}

.hamb2:hover {
    border: 0.1vw inset #156bff;
    background-color:#f2f52b;
    filter:drop-shadow(0.05rem 0.05rem 0.12rem#f226c9);
}

.hamb1-1,
.hamb1-2,
.hamb1-3,
.hamb2-1,
.hamb2-2,
.hamb2-3 {
    position:relative;
   }

.hamb1-1, .hamb2-1 {
    border-radius: 1vw 1vw 0 0;
}
.hamb1-2, .hamb2-2 {
    border-radius: 0.25vw 0.25vw;
}
.hamb1-3, .hamb2-3 {
    border-radius: 0 0 1vw 1vw;
}

.header-nav {
    position:relative;
    height:3vw;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.btn {
    position:relative;
    width:10vw;
    height:2vw;
    text-align:center;
    letter-spacing:0.1vw;
    font-weight:700;
    font-size:1.2vw;
    border: 0.2vw inset #b81fff;
    background-color:#f5dea9;
    box-shadow: 0.025vw 0.05vw 0.05vw 0.05vw #20ffbc;
    margin-left:0.5vw;
    -webkit-text-fill-color:#20ffbc;
    -webkit-text-stroke: 0.075vw #b81fff;
    transition: all 500ms ease-in;
    

}

.btn:focus {
    background-color:#20ffbc;
    -webkit-text-fill-color:#b81fff;
    -webkit-text-stroke: 0.075vw #f5dea9;
    border-radius:15%;
}

.btn:hover {
    background-color:#a5d5ed;
    border: 0.2vw inset #26e6ff;
    box-shadow: 0.025vw 0.05vw 0.05vw 0.05vw #b81fff;
}

.header-nav:first-child {
    margin-left:0;
}

#headerNavBtn-1:after {
    content:"Home";
}
#headerNavBtn-2:after {
    content:"Web Dev";
}
#headerNavBtn-3:after {
    content:"Hosting";
}
#headerNavBtn-4:after {
    content:"DNS";
}

#headerNavBtn-5:after {
    content:"Linux";
}