*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width:100%;
    height:100%;
    font-family: "Allerta Stencil", sans-serif
}

body {
    width:100vw;
    height:100vh;
}

.main-container {
    position:relative;
    width:95%;
    height:auto;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:space-evenly;
}

.brand-content {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:'info mCont' 'info mCont';
    border: 0.1vw inset green;
}

.dashwoorkz-info {
    position:relative;
    grid-area:info;
    grid-column:1 / 2;
    grid-row: 1 / 2;
    border-right: 0.1vw inset orange;
    background-image:url('https://i.pravatar.cc/840');
    background-repeat:no-repeat;
    background-size:cover;
    transition:background-image 500ms ease-in;
}

.about-box {
    display:none;
    width:100%;
    height:100%;
    background-image:url('https://i.pravatar.cc/360');
    background-repeat:no-repeat;
    background-size:cover;
    transition:all 1000ms ease-in;
}

.main-content {
    position:relative;
    display:grid;
    width:100%;
    height:50vw;
    grid-area:mCont;
    grid-column:2 / 3;
    grid-row: 1 / 2;
}
.general-info {
    display:none;
    flex-direction:column;
}

.examples-info {
    display:none;
    flex-direction:column;
}

.dns-info {
    display:none;
    flex-direction:column;
}

.linux-info {
    display:none;
    flex-direction:column;
}

.brand-info {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:'brand' 'cBox';
}

.brand {
    position:relative;
    grid-area:brand;
    grid-column:1 / 3;
    grid-row: 1 / 2;
    display:flex;
}

.brand-badge {
    position:relative;
    width:35%;
    height:auto;
    border-right: 0.1vw inset lightsteelblue;
    background-image:url('../imgs/Dash_LaLonde.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
}

.brand-name {
    
    top:0;
    left:0;
    border-bottom:0.2vw inset #2c4999;
       
}
.brand-title {
    
    bottom:0;
    left:0;
    border-top:0.2vw inset #2c4999;
        
}

.brand-name,
.brand-title {
    position:absolute;
    background-color:rgba(245,222,169, 0.4);
    -webkit-text-fill-color:rgba(32,255,188, 0.9);
    -webkit-text-stroke:0.1vw #2c4999;
    font-weight:700;
    letter-spacing:0.1vw;
    width:100%;
    font-size:1.3vw;
}


.brand-name:after {
    content:"Dash LaLonde";
}
.brand-title:after {
    content:"Web Developer";
}
.brand-billboard {
    position:relative;
    width:65%;
    height:auto;
    background-image:url('https://i.pravatar.cc/1040');
    background-repeat:no-repeat;
    background-size:cover;
 
}

.content-box,
.general-box,
.examples-box,
.dns-box,
.linux-box {
    position:relative;
    border-top: 0.1vw inset blue;
    background-image:url('https://i.pravatar.cc/640');
    background-repeat:no-repeat;
    background-size:cover;
}

.content-box {
    grid-area:cBox;
    grid-column:1 / 3;
    grid-row: 2 / 3;
}

.examples,
.general,
.dns-r,
.linux-distro {
    width:100%;
    background-image:url('https://i.pravatar.cc/1060');
    background-repeat:no-repeat;
    background-size:cover;
}

.footer {
    position:relative;
    bottom:0;
    left:0;
    padding:1vw 0;
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:nowrap;
    border:0.1vw inset orangered;
    border-top:none;
    background-image:url('https://i.pravatar.cc/1060x120');
    background-repeat:no-repeat;
    background-size:cover;
}



