*,
*::before,
*::after {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width:100%;
    height:100%;
    font-family: "Allerta Stencil", sans-serif
}

body {
    width:100vw;
    height:100vh;
}

.main-container {
    position:relative;
    width:95%;
    height:auto;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* align-items:center; */
}

.brand-content {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:'info mCont' 'info mCont';
    border: 0.1vw inset green;
}

.dashwoorkz-info {
    position:relative;
    grid-area:info;
    grid-column:1 / 2;
    grid-row: 1 / 2;
    border-right: 0.1vw inset orange;
    background-image:url('https://i.pravatar.cc/840');
    background-repeat:no-repeat;
    background-size:cover;
    transition:background-image 500ms ease-in;
}

.about-box {
    display:none;
    width:100%;
    height:100%;
    background-color:#bbe9f0;
    transition:all 1000ms ease-in;
}

.main-content {
    position:relative;
    display:grid;
    width:100%;
    height:50vw;
    grid-area:mCont;
    grid-column:2 / 3;
    grid-row: 1 / 2;
}
.general-info {
    display:none;
    flex-direction:column;
}

.examples-info {
    display:none;
    flex-direction:column;
}

.dns-info {
    display:none;
    flex-direction:column;
}

.linux-info {
    display:none;
    flex-direction:column;
}

.brand-info {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:'brand' 'cBox';
}

.brand {
    position:relative;
    grid-area:brand;
    grid-column:1 / 3;
    grid-row: 1 / 2;
    display:flex;
}

.brand-badge {
    position:relative;
    width:35%;
    height:auto;
    border-right: 0.1vw inset lightsteelblue;
    background-image:url('../imgs/Dash_LaLonde.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
}

.brand-name {
    
    top:0;
    left:0;
    border-bottom:0.2vw inset #2c4999;
       
}
.brand-title {
    
    bottom:0;
    left:0;
    border-top:0.2vw inset #2c4999;
        
}

.brand-name,
.brand-title {
    position:absolute;
    background-color:rgba(245,222,169, 0.4);
    -webkit-text-fill-color:rgba(32,255,188, 0.9);
    -webkit-text-stroke:0.1vw #2c4999;
    font-weight:700;
    letter-spacing:0.1vw;
    width:100%;
    font-size:1.3vw;
}


.brand-name:after {
    content:"Dash LaLonde";
}
.brand-title:after {
    content:"Web Developer";
}
.brand-billboard {
    position:relative;
    width:65%;
    height:auto;
    background-image:url('https://i.pravatar.cc/1040');
    background-repeat:no-repeat;
    background-size:cover;
 
}

.content-box,
.general-box,
.examples-box,
.dns-box,
.linux-box {
    position:relative;
    border-top: 0.1vw inset blue;
    background-image:url('https://i.pravatar.cc/640');
    background-repeat:no-repeat;
    background-size:cover;
}

.content-box {
    grid-area:cBox;
    grid-column:1 / 3;
    grid-row: 2 / 3;
}

.examples,
.general,
.dns-r,
.linux-distro {
    width:100%;
    background-image:url('https://i.pravatar.cc/1060');
    background-repeat:no-repeat;
    background-size:cover;
}

.footer {
    position:relative;
    bottom:0;
    left:0;
    padding:1vw 0;
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:nowrap;
    border:0.1vw inset orangered;
    border-top:none;
    background-image:url('https://i.pravatar.cc/1060x120');
    background-repeat:no-repeat;
    background-size:cover;
}


#formStyle1 {
    position:relative;
    top:0.3vw;
    left:0.3vw;
    width:75%;
    height:16vw;
    border:0.2vw inset #24bdfa;
    background-color:rgba(247,36,113, 0.5);
    filter:drop-shadow(0.2vw 0.3vw 0.4vw rgba(245,207,37, 0.5));
    border-radius: 0.3vw 0.4vw 0.5vw 0.6vw;
    margin:0 auto;

}

#formStyle1 form {
    width:100%;
    height:100%;
    background-color:rgba(247,162,26, 0.5);
    position:relative;
    display:flex;
    flex-direction:column;
    text-align:center;
    margin:0 auto;
    padding:0.25vw;
}


#formStyle1 form h1 {
    position:relative;
    -webkit-text-fill-color:#3cd98b;
    -webkit-text-stroke:0.05vw #00913a;
}
#formStyle1 form h1:after {
    content:"Subscribe Now!!";
}


#formStyle1 form h1:hover {
    position:relative;
    -webkit-text-fill-color:#9ecdf0;
    -webkit-text-stroke:0.05vw #0b4d99;
}


input[type="text"] {
    font-weight:700;
    font-family:righteous, sans-serif;
    letter-spacing: 0.1vw;
    -webkit-text-fill-color:#f7d46b;
    -webkit-text-stroke: 0.1vw #6cf5f7;
    text-align:center;
}
input[type="email"] {
    font-weight:700;
    font-family:poppins, sans-serif;
    letter-spacing: 0.1vw;
    -webkit-text-fill-color:#fc5956;
    -webkit-text-stroke: 0.1vw #5956fa;
    text-align:center;
}

input:focus {
    background-color:#f0e2bb;
    border:0.1vw dotted #2ad1c6;
}
input:hover {
    background-color:#21cc88;
    border:0.2vw dotted #f0e2bb;
    letter-spacing: 0.1vw;
}

button[type="submit"] {
    font-weight:700;
    font-family:"Josefin Sans", sans-serif;
    letter-spacing: 0.1vw;
    -webkit-text-fill-color:#a2bfeb;
    -webkit-text-stroke: 0.1vw #1244b8;
    font-size:1.2vw;
    background-color:#ced5f0;
    border:0.2vw dotted #0a79a8;
    padding:0.2vw;
}

button[type="submit"]:after {
    content:"Get Newsletter";
}

button[type="submit"]:hover {
    background-color:#aeebe9;
    border:0.2vw dotted #0b868f;
}
.card-styles {
    position:relative;
    width:100%;
    height:100%;
    margin:0 auto;
    display:grid;
    justify-content: center;
}

#cardStyle1 {
    position:relative;
    top:0vw;
    left:0.5vw;
    width: 25vw;
    height:30vw;
    border:0.2vw solid green;
    background-image:url('../imgs/img_avatar.png');
    background-repeat:no-repeat;
    background-size:cover;
    margin:0 auto;
    text-align:center;

}

.card-header,
.card-footer {
    -webkit-text-fill-color:#fcceae;
    -webkit-text-stroke:0.1vw #3c9165;
    width:100%;
    height:2vw;
    background-color:#e8b7eb;
    font-weight:700;
    font-family:righteous, sans-serif;
    letter-spacing:0.1vw;
}

.card-header {
    position:absolute;
    top:0;
    left:0;
}
.card-footer {
    position:absolute;
    bottom:0;
    left:0;
}

.button-styles,
.animation-styles,
.form-styles,
.card-styles {
    display:none;
}

.form-group {
    margin-bottom:0.2vw;
    height:3.5vw;
}

label {
    -webkit-text-fill-color:#a2bfeb;
    -webkit-text-stroke: 0.1vw #1244b8;
    letter-spacing:0.1vw;
}

.form-styles{
    position:relative;
    transform:translate(0%, -80%);
}

.card-styles{
    position:relative;
    transform:translate(0%, -17%);
}

.animation-styles{
    position:relative;
    transform:translate(0%, -60%);
    background-image:url('https://i.pravatar.cc/800');
    background-repeat:no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
}

.button-styles{
    position:relative;
    transform:translate(0%, -90%);
}

.btn-styles-nav-1-btn {
    position:relative;
    width:3vw;
    height:3vw;
    border-radius:50%;
    border:0.2vw dotted #9a1a9c;
    background-color:#ebceea;
    -webkit-text-fill-color:#f70fd8;
    -webkit-text-stroke: 0.1vw #d433c7;
    margin-left:0.2vw;

}

.btn-styles-nav-1-btn:hover {
    border:0.2vw dotted #10ad49;
    background-color:#ebf5bc;
    -webkit-text-fill-color:#e68f85;
    -webkit-text-stroke: 0.1vw#160ef0;
    filter:drop-shadow(0.1vw 0.2vw 0.3vw #20fa24);
}

.btn-styles-nav-1-btn:focus {
    border:0.2vw dotted #0bb6c2;
    background-color:#dcbcf5;
    -webkit-text-fill-color:#f0470e;
    -webkit-text-stroke: 0.1vw#e6d9a6;
    filter:drop-shadow(0vw 0.4vw 0.5vw #d60bd6);
    outline-color:#d608cc;
    outline-width:0.2vw;
    outline-style:dotted;
    outline-offset:-0.3vw;
}

.btn-styles-nav-1:first-child {
    margin-left:0;
}

.btn-styles-nav-1 {
    margin:0 auto;
    width:100%;
    height:5vw;
    padding:0.2vw;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    transform:translateY(-270%);
}

